.App {
  background-color: #dfdede;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex-basis: 0;
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.btn {
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #01a1d6;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
