.App {
  background-color: #ebebeb;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-basis: 0;
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  height: auto;
}

.btn {
  padding: 5px 15px;
  font-weight: 700;
  /* border: none; */
  border-radius: 5px;
}
